@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#app {
    background: #21222C;
    height: 100vh;
    cursor: url('../assets/crosshair.png'), auto;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.container-content {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding: 32px;
}

#area {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
}

.circle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px -10px #211858;
    user-select: none;
    justify-self: center;
}

.score {
    position: relative;
    color: #fff;
    top: -666px;
    font-size: 1.2rem;
}

.counter {
    position: relative;
    color: #fff;
    top: -687px;
    left: 87%;
    width: 8%;
}

.menu {
    background: #211858;
    position: relative;
    height: 100vh;
    top: -671px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

#start, #config  {
    font-size: 1.05rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    color: #fff;
    background: #4B36CA;
    text-transform: uppercase;
    font-weight: 600;
    display: grid;
    text-align: center;
    gap: 10px;
}

#start img, #config img {
    justify-self: center;
}

#start {
    align-self: flex-end;
}

#config {
    align-self: flex-start;
}

#start:hover, #config:hover {
    transform: scale(1.03);
    background: #fff;
    color: #4B36CA;
}

.hide {
    display: none;
}