* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background: #21222C;
    height: 100vh;
    cursor: crosshair;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.container-content {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
}

#area {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 5px dashed #282A36;
    box-sizing: border-box;
    margin: 64px 116px;
}
.circle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    box-shadow: 0px 0px 10px -4px #fff;
    user-select: none;
    justify-self: center;
}